header{background-color: #ffffff;}
.slider{background-color: #2E2F42;text-align:center;}
button{background-color: #4D5AE5;color: #ffffff;}
h1{color: #ffffff;}
.ourteam{background-color: #F4F4FD;}
footer{background-color: #2E2F42; color:#ffffff;}